@import '~node_modules/modern-normalize/modern-normalize.css';


.ss-main {
   
    max-width: 250px;
    margin-top: 20px;
    margin-left: 40px;
}


img {
    display: block;
    position: center;
}

.cat-info {
display: flex;
flex-direction: row;
margin: 20px 20px;
}

.cat-info-container {
 max-width: 500px; 
}

.cat-desc {
    font-style: italic;
}
.cat-temp {
    font-weight: 700;
}
.loader {
    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid solid dotted;
    border-color: #FF3D00 #FF3D00 transparent #FF3D00;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 20px;
    top: 31px;
    border: 10px solid transparent;
    border-right-color: #FF3D00;
    transform: rotate(-40deg);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
